@{
    ViewData["Titulo"] = "Sobre";
}
<h2>@ViewData["Titulo"]</h2>
<h3>@ViewData["Mensagem"]</h3>
<h4>@ViewData["Email"]</h4>

<p>Sistema para controle de vendas.</p>
<p>Tenha suas vendas sobre controle.</p>
